// Bootstrap variable overriding
$primary: #3b241c;
$secondary: #58423b;
// $success:
// $info:
// $warning:
// $danger:
// $light:
$dark: #291913;

// other variables
$light-green: #c5e2aa;

@import '../../node_modules/bootstrap/scss/bootstrap';

//----- individual page and component styling -----
// general
body {
  color: $primary;
  background-color: white;
}

h4,
h5,
h6 {
  color: $secondary;
}

img {
  border: 2px solid $primary;
}

::selection {
  color: $primary;
  background-color: $light-green;
}

// * {
//   border: red 1px solid;
// }

// home page
.description {
  width: 50%;
}

// navbar
.navbar {
  background-color: $light-green;
  border-bottom: 2px solid $primary;
}

a {
  &.active {
    font-weight: 600;
  }

  &:not(.active) {
    color: $secondary;

    &:hover {
      text-decoration: wavy underline;
      color: $primary;
    }
  }
}

.theme-toggle {
  transition: 0.25s;
  position: absolute;
  right: 20px;
  -webkit-text-stroke: 0.5px;
  border: 2px solid;

  &.bi-sun {
    color: $secondary;
    border-color: $secondary;
    background-color: $dark;

    &:hover {
      color: $primary;
      border-color: $light-green;
      background-color: $light-green;
    }
  }

  &.bi-moon {
    color: $secondary;
    border-color: $secondary;
    background-color: $light-green;

    &:hover {
      color: $light-green;
      border-color: $primary;
      background-color: $primary;
    }
  }
}

// footer
.footer {
  background-color: $light-green;
  border-top: 2px solid $primary;
}

// dark mode -- still learning the cleanest and most efficient way to implement this
body.dark {
  background-color: $dark;
  color: $light;

  h4,
  h5,
  h6 {
    color: $light-green;
  }

  img {
    border-color: $secondary;
  }

  ::selection {
    color: $light;
    background-color: $secondary;
  }

  .navbar {
    background-color: $dark;
    border-color: $secondary;
  }

  a:not(.active) {
    color: $secondary;

    &:hover {
      color: $light-green;
    }
  }

  .footer {
    background-color: $dark;
    border-color: $secondary;
  }
}

// media queries
@media only screen and (max-width: 1366px) {
  .description {
    width: 75%;
    padding-left: 0%;
    padding-right: 0%;
  }
}

@media only screen and (max-width: 992px) {
  .description {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .image-header-section {
    padding: 0 50px 0 50px;
    font-size: 3vw;
  }
}
