// Bootstrap variable overriding
$primary: #3b241c;
$secondary: #58423b;
// $success:
// $info:
// $warning:
// $danger:
// $light:
// $dark:

@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  color: $primary;
}
