@import '../../../app/globals.scss';

.navbar {
  background-color: #c5e2aa;
}

.active {
  font-weight: 600;
}

a:not(.active) {
  color: $secondary;
}

a:not(.active):hover {
  text-decoration: wavy underline;
  color: $primary;
}
